.logo {
    padding: 5rem 0 3rem;
    text-align: center;
}

.logo img {
    height: 5rem;
}

.logo figcaption {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo figcaption span {
    color: #7960A2;
    font-weight: 800;
    font-size: 1rem;
}