
.nav-section h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #7960A2;
    text-align: center;
}

.nav-section nav {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.flex-group {
    display: flex;
}

@media(max-width: 800px){
    .nav-section nav {
        flex-direction: column;
        align-items: center;
    }
}