.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    margin: 10rem auto 7rem auto;
}


.placing {
    font-size: 1.8rem;
    font-weight: 600;
    color:#fff;
    padding: 2rem;
}

.podium > div {
    height: 6rem;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 2px;
    overflow: visible;
    position: relative;
}

.first {
    width: 7rem;
}

.second-third {
    width: 21rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth-fifth {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #A895C2 !important;
}

.podium-hamster-holder {
    min-width:7rem;
    position: absolute;
    top: -6rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0.3rem;
}

.podium-left {
    left: 0rem;
}
.podium-right {
    right: 0rem;
}

.podium-hamster-name {
    font-size: 1rem;
}

.podium img {
    height:3.4rem;
    width: 3.4rem;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 0.4rem;
    transition: all 0.4s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.podium img:hover {
    height:5.4rem;
    width: 5.4rem;
    border-radius: 2px;
}

.hamsterwars-trophy {
    font-size: 4rem;
    fill: #FEE38C;
}

@media (max-width: 600px) {

    .podium > div {
        height: 4rem;
    }
    
    .first {
        width: 5rem;
    }
    
    .second-third {
        width: 15rem;
    }
    
    .fourth-fifth {
        width: 25rem;
    }
    
    .podium-hamster-holder {
        min-width:5rem;
        /* min-height: 1rem; */
        top: -5rem;
    }
    
    .podium img {
        height:3rem;
        width: 3rem;
        margin: 0.2rem;
    }
    
    .podium img:hover {
        height:4rem;
        width: 4rem;
    }
    
    .hamsterwars-trophy {
        font-size: 2rem;
    }

}