/* Global css settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Chilanka&family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Nanum+Pen+Script&display=swap');

/* font-family: 'Cabin Sketch', cursive;
font-family: 'Chilanka', cursive;
font-family: 'Delius', cursive; 

font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Nanum Pen Script', cursive;
*/

/* det funkar fint med env process som ersättning för dotenv */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  text-decoration: none;
}

p{
  font-size: 16px;
}

@media (max-width: 600px){
  * {
    font-size: 60%;
  }
}

@media (min-width: 600px){
  * {
    font-size: 70%;
  }
}

@media (min-width: 800px){
  * {
    font-size: 80%;
  }
}

@media (min-width: 1000px){
  * {
    font-size: 90%;
  }
}

@media (min-width: 1200px){
  * {
    font-size: 100%;
  }
}

@media (min-width: 1400px){
  * {
    font-size: 110%;
  }
}

@media (min-width: 1700px){
  * {
    font-size: 120%;
  }
}

@media (min-width: 2000px){
  * {
    font-size: 130%;
  }
}